<h3>Add a New Survey</h3>
<br>
<div>
  <form class="form-group" action="/survey" method="post">
    <label for="survey-name">Survey Name</label>
    <input class="form-control" type="text" name="survey-name">
    <br>
    <label for="survey-description">Survey Description</label>
    <input class="form-control" type="text" name="survey-description">
    <br>
    <button type="submit" class="btn btn-success">Add Survey</button>
  </form>
</div>
